* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  --color1: #000;
  --color2: #fff;
  --color3: #999999;
}

body {
  width: 100%;
  height: 100%;
}

.mainHeader {
  background-color: var(--color1);
  color: var(--color2);
  width: 100%;
}

.mainHeader h1 {
  padding: 30px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  max-width: 550px;
  margin-bottom: 30px;
}

.description h2 {
  padding: 15px;
}

.description p {
  text-align: justify;
  margin: 14px;
}

input {
  border: none;
  border-radius: 8px;
  padding: 16px;
  margin: 16px auto;
  background-color: var(--color3);
}

input::placeholder {
  color: var(--color2);
}

button {
  border: none;
  border-radius: 8px;
  display: block;
  padding: 16px;
  margin: 5px auto;
}

button:focus {
  background-color: var(--color3);
  color: var(--color2);
}

.results {
  margin: 32px auto;
}

.tableInfo {
  border: solid 1px var(--color3);
  margin: 16px auto;
}

.tableInfo thead {
  background-color: var(--color3);
  color: var(--color2);
}

.tableInfo td {
  padding: 16px;
}

footer {
  background-color: var(--color1);
  color: var(--color2);
  width: 100%;
}

footer ul li {
  margin: 10px;
}

footer ul li i {
  margin: 10px;
}

footer a {
  color: var(--color2);
}

footer #developer {
  text-align: center;
  padding: 20px;
}
