* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

header h1 {
  padding: 30px;
  text-align: center;
}

#calculadora {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 700px;
}

input,
button {
  background-color: #c1c1c1;
  display: block;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 10px;
}

#calculadora p {
  padding: 20px;
}

#informacoes {
  max-width: 700px;
  display: block;
  margin: 2vh auto;
}

#informacoes h2 {
  padding: 10px;
}

#informacoes p {
  text-align: justify;
  padding: 10px;
}

#tabela {
  max-width: 700px;
  display: block;
  margin: 20px auto;
}

#tabela table {
  width: 100%
}

#tabela thead td {
  background-color: #c1c1c1;
}

#tabela tr {
  width: 100%;
}

#tabela td {
  padding: 20px;
  margin: 10px;
  width: 50%;
  background-color: #f1f1f1;
}

footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

footer h4 {
  padding: 20px;
}

footer li {
  padding: 10px;
}

footer a {
  color: #ffffff;
}

footer i {
  padding: 5px;
}

footer p {
  padding: 30px;
  text-align: center;
}